[Unit]
Description=Skillbox App Service as simple Docker
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always

##### запуск/перезапуск серсиса
# Остановка старых compose перед запуском
ExecStartPre=-/usr/local/bin/docker-compose -f /home/user/service/docker-compose.yaml down -v
# Остановка старых образов перед запуском новых
ExecStartPre=-/usr/bin/docker stop %n
# Удаление старых образов
ExecStartPre=-/usr/bin/docker rm %n
# Удаление старых незадействованных образов
ExecStartPre=-/usr/bin/docker image rm $(/usr/bin/docker image ls -q)
# Скачивание новых образов
ExecStartPre=-/usr/bin/docker pull {{ image_name }}:{{ image_version }}
# Запуск скачанных образов
ExecStart=/usr/bin/docker run --rm --name %n \
    -p 8080:{{ app_port }} \
    {{ image_name }}:{{ image_version }}
# Удаление старых незадействованных образов
ExecStartPost=-/usr/bin/docker image rm $(/usr/bin/docker image ls -q)
#####

##### остановка сервиса
# Остановка старых compose перед запуском
ExecStopPre=-/usr/local/bin/docker-compose -f /home/user/service/docker-compose.yaml down -v
# Остановка старых контейнеров перед запуском новых
ExecStop=/usr/bin/docker stop %n
# Удаление старых контейнеров
ExecStopPost=-/usr/bin/docker rm %n
# Удаление старых незадействованных образов
ExecStopPost=-/usr/bin/docker image rm $(/usr/bin/docker image ls -q)
#####

[Install]
WantedBy=default.target